{% extends 'base.html' %}

{% block main %}
<div class='bubble meta_content'>
<h2>About MyMissedOpportunities: </h2>
<p>
It happens to all of us. We are given great opportunites, but for some reason we fail to pursue them. 
On MyMissedOpportunities.com you get to share that experience with the world.  
Lets help the world seize the day! One story at a time. Let no great opportunity pass us by!
</p>
<p>
We hope you enjoy your stay!
</p>
<p>
Don't forget to send us your feedback by filling out this form: <a href="/feedback/submit_feedback/">Feedback Form</a>.
</p>
</div>
{% endblock main %}
