{% if not user.is_authenticated %}
    <form action="/users/login/" method="post" id="login_form" class="bubble">
        {%csrf_token %}
        <fieldset>
            <legend>Login</legend>
            <ul>
                <li>{{ login_form.username }}</li>
                <li>{{ login_form.password }}</li>
                {% if login_error %}
                <li class="errorlist">{{login_error}}</li>
                {% endif %}
                <li><input type="submit" value="Login"/> </li>
                <div id="login_links">
                    <a href="/users/sign_up/">Sign Up</a> -
                    <a href="/users/password_reset/">Password?</a>
                </div>
            </ul>
        </fieldset>
    </form>
{% endif %}
