{% extends 'base.html' %}

{% block content %}
<div id="profile">
<h2>{{user.username}}'s profile:</h2>
<h3> {%if user.id == request.user.id%}Your{%endif%} Missed Opportunities: </h3>
{% for post in post_list %}
{% include 'posts/post.html' %}
{% empty %}
<div class="bubble">
    No posts yet.
</div>
{% endfor %}

<h3> Comments: </h3>
{% for post in comment_post_list %}
{% include 'posts/post.html' %}
{% empty %}
<div class="bubble">
    No comments yet.
</div>
{% endfor %}
</div>
{% endblock %}
